/* side menu block */
.app-sidebar.bg-body-secondary.shadow{
  background-color: #d8770d !important;
}
/* Dashboard link */
.nav-item.menu-open .nav-link.active{
  background-color:#198754 !important;
  box-shadow: none !important
}
/* left panel li a */
.nav.sidebar-menu.flex-column li a{
  padding-top:20px !important;
 font-family: 'Poppins', sans-serif !important;

}
.nav.sidebar-menu.flex-column li a{
  padding-top:20px !important;
 font-family: 'Poppins', sans-serif !important;

}
.nav-item.menu-open ul li a:hover{
  background-color:#198754 !important;

}
.nav-item .nav-link{
  background:none !important;
}
/* profile section top */
.container-fluid .user-body {
  display: none !important;

}
.container-fluid .nav-item.d-none.d-md-block .nav-link{
  display: none !important;
}
.container-fluid .nav-link .bi.bi-list{
  width: 50px !important;
  height: 50px !important;
  color:black !important;
  /* background-color: #198754 !important; */
}
/* Profile section */
#profilePopup{
  background-color:#198754 !important;
}
#profilePopup li a{
  background-color:#198754 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size:16px !important;
}
/* Remove Crad summary in some pages */
.container-fluid .row .shared-class .card{
  display: none !important;
  
}


