.sidebar-brand{
	color:white !important;
	font-size: 30px !important;
	font-family: 'poppins', sans-serif !important;
	text-align:center !important;	


	/* margin-bottom: 100px !important;
	margin-top: 200px !important; */
	padding-bottom: 50px !important;
	padding-top: 50px !important;
	
}
.sidebar-wrapper{
	margin-top: 10px !important;
}
.app-sidebar{
	background-color: #e5322d!important;
}
/* Left nav item style */
div ul li .nav-link{
	color:white !important;
	font-size: 14px !important;
	padding: 15px 20px !important;
	font-family: 'poppins', sans-serif !important;
	font-family: 'poppins', sans-serif !important;
}
/* dashboard style */
.nav-item.menu-open.dash{
	background-color:  #198754 !important;
	box-shadow: none !important;
	border-radius: 0px !important;

	
}
/* user form style */
.user-form {
  /* background-color: #f8f9fa; */
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin:0 auto;
}
.user-form-card{
background-color: #fcfbfbe7 !important;
  /* width: 80%; */
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin:0 auto;
}
/* buttons style */
.btn {
  font-family: 'poppins', sans-serif !important;
  background-color: #198754 !important;
  width: 200px !important;
}
/* card title */
.card-title {
  font-family: 'poppins', sans-serif !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
/* validation-message */
#validation-message {
    color:red !important;
    font-size: 14px;
}
/* body{
	background-color: #198754;
} */
/* sub menu block */
.nav.nav-treeview .nav-item a:hover{
	background:#198754 !important;
}
/* home tabs */
#manual-tab, #upload-tab {
  background-color: #d8770d !important;
  margin-right: 8px; /* ✅ gap between tabs */
}



/* Selected Row in Update/Delete  table  plus other styles */
 

  /* Row selection styles */
  #example tbody tr {
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  #example tbody tr:hover {
    background-color: #11754c !important;
  }
  #example tbody tr.selected {
    /* background-color: red !important; */
    border-left: 4px solid #d8770d;
  }
  
  

  /* Action buttons hidden by default */
  #actionBtns {
    display: none;
  }
  #actionBtns.visible {
    display: flex !important;
  }

  /* Update/Delete button styles */
  .btn-update {
    background-color: #198754 !important;
    color: white !important;
    width: 150px !important;
    margin-right: 10px !important;
  }
  .btn-delete {
    background-color: #e5322d !important;
    color: white !important;
    width: 150px !important;
  }
